---
const Testimonios=[

{
imgSrc: '/src/img/Logos/venezia.PNG',
altText: 'logo-venezia',
title: 'PANADERIA VENEZIA',
manager: 'FABIAN M.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'panaderiaveneziasl@gmail.com',
},

{
imgSrc: '/src/img/Logos/Inmoluc.PNG',
altText: 'logo-Inmoluc',
title: 'INMOLUC ',
manager: 'JOSÉ M.',
textCard:'Nuestro sistema personalizado ha optimizado nuestras operaciones diarias.',
province:'San Luis, Argentina',
email:'inmolucl@gmail.com',
},
{
imgSrc: '/src/img/Logos/Barbieri.PNG',
altText: 'logo-Barbieri',
title: 'Barbieri',
manager: 'SEBASTIAN B.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'sebastianb@gmail.com',
},
{
imgSrc: '/src/img/Logos/Credian2.PNG',
altText: 'logo-Credian',
title: 'credian',
manager: 'JOSÉ M.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'credian.sl@gmail.com',
},
]
---
<swiper-container id="carrusel-movile" class="h-[520px] w-[275px] pt-20 md:hidden" 
effect="cards" 
grab-cursor="true" 
pagination="true" 
space-between="30" 
free-mode="true"
autoplay-delay="2000"

>
    {Testimonios.map(testimonio=>(
        <swiper-slide class="border-2 border-black border-opacity-25 rounded h-[400px]">
            <div class="w-[275px] h-[400px] max-w-sm overflow-hidden  bg-white rounded-lg shadow-lg dark:bg-gray-800 mb-5 lg:mb-0">
                <img class="object-contain text-center object-center w-full h-40 bg-white" src={testimonio.imgSrc} alt="logo-venezia">
             
                <div class="flex items-center px-6 py-3 bg-gray-900">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white"viewBox="0 0 32 32"><path fill="currentColor" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5m0 8a3 3 0 1 1 3-3a3.003 3.003 0 0 1-3 3"/><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2m-6 24.377V25a3.003 3.003 0 0 1 3-3h6a3.003 3.003 0 0 1 3 3v1.377a11.9 11.9 0 0 1-12 0m13.993-1.451A5 5 0 0 0 19 20h-6a5 5 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0"/></svg>
            
                    <h1 class="mx-3 text-lg font-semibold text-white uppercase">{testimonio.title}</h1>
                </div>
        
               
                <div class="px-4 py-4">
                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">{testimonio.manager}</h1>
                     <p class="py-2 h-24 text-gray-700 dark:text-gray-400">{testimonio.textCard}</p>     
                </div>
                <!-- data -->
            </div>
        </swiper-slide>
     ))}
    
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
