---
import Line from "./Line.astro";

interface Tarjeta {
  title: string;
  description: string;
  classIcon: string;
}

const Tarjetas: Tarjeta[] = [
  { title: "SOFTWARE", description: "astro", classIcon: "code" },
  { title: "NETWORKING", description: "tomar mate", classIcon: "network" },
  { title: "VIDEO VIGILANCIA", description: "tomar mate", classIcon: "camera" },
  {
    title: "SEGURIDAD ELECTRÓNICA",
    description: "tomar mate",
    classIcon: "secure",
  },
  { title: "INFORMÁTICA", description: "tomar mate", classIcon: "tech" },
  { title: "SOPORTE IT", description: "tomar mate", classIcon: "support" },
];
---

<!-- Icon Blocks -->
<div
  id="servicios"
  class="max-w-[85rem] py-10 lg:py-20 mx-auto px-10 dark:bg-neutral-950 bg-neutral-150"
>
<!-- Contenedor que abarca el TITULO y los servicios -->
<div class="">
    <h1 class="text-center lg:text-left text-2xl font-semibold dark:text-white capitalize lg:text-4xl text-slate-900">
      Explore nuestros <br /> servicios destacados
    </h1>
    <!-- Linea de Titulos  -->
    <Line />

<!-- Servicios -->
<section class="bg-none pt-10">
  <!-- Contenedor servicios -->
  <!-- <div class="py-10 sm:py-16 block relative bg-opacity-50 z-40 border-2 border-red-500"> -->
  <!-- <div class="py-10 sm:py-16 block relative z-40 border-2 border-blue-500"> -->
    <div
      class="relative mx-auto h-full px-4 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-0 border-2 border-red-500 "
    >
      <!-- <div class="absolute top-0 -right-1/4 z-0 opacity-10 ">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          class="w-96 z-0 h-full object-fill fill-g text-g"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 6C12 5.44772 11.5523 5 11 5C10.4477 5 10 5.44772 10 6V16C10 16.5523 10.4477 17 11 17C11.5523 17 12 16.5523 12 16V6ZM9 9C9 8.44772 8.55228 8 8 8C7.44772 8 7 8.44772 7 9V16C7 16.5523 7.44772 17 8 17C8.55228 17 9 16.5523 9 16V9ZM15 9C15 8.44772 14.5523 8 14 8C13.4477 8 13 8.44772 13 9V16C13 16.5523 13.4477 17 14 17C14.5523 17 15 16.5523 15 16V9ZM18 13C18 12.4477 17.5523 12 17 12C16.4477 12 16 12.4477 16 13V16C16 16.5523 16.4477 17 17 17C17.5523 17 18 16.5523 18 16V13ZM6 15C6 14.4477 5.55228 14 5 14C4.44772 14 4 14.4477 4 15V16C4 16.5523 4.44772 17 5 17C5.55228 17 6 16.5523 6 16V15ZM21 15C21 14.4477 20.5523 14 20 14C19.4477 14 19 14.4477 19 15V16C19 16.5523 19.4477 17 20 17C20.5523 17 21 16.5523 21 16V15ZM4 18C3.44772 18 3 18.4477 3 19C3 19.5523 3.44772 20 4 20H21C21.5523 20 22 19.5523 22 19C22 18.4477 21.5523 18 21 18H4Z"
          ></path>
        </svg>
      </div> -->

      <!-- NO Se que es -->
      <!-- <div class="absolute -bottom-0 -left-1/4 z-0 opacity-10 border-2 border-red-500">
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
          class="w-48 z-0 h-full -rotate-90 object-fill fill-r text-r"
        >
          <path
            d="M32 225h12.993A4.004 4.004 0 0 0 49 220.997V138.01c0-4.976.724-5.04 1.614-.16l12.167 66.708c.397 2.177 2.516 3.942 4.713 3.942h8.512a3.937 3.937 0 0 0 3.947-4S79 127.5 80 129s14.488 52.67 14.488 52.67c.559 2.115 2.8 3.83 5.008 3.83h8.008a3.993 3.993 0 0 0 3.996-3.995v-43.506c0-4.97 1.82-5.412 4.079-.965l10.608 20.895c1.001 1.972 3.604 3.571 5.806 3.571h9.514a3.999 3.999 0 0 0 3.993-4.001v-19.49c0-4.975 2.751-6.074 6.155-2.443l6.111 6.518c1.51 1.61 4.528 2.916 6.734 2.916h7c2.21 0 5.567-.855 7.52-1.92l9.46-5.16c1.944-1.06 5.309-1.92 7.524-1.92h23.992a4.002 4.002 0 0 0 4.004-3.992v-7.516a3.996 3.996 0 0 0-4.004-3.992h-23.992c-2.211 0-5.601.823-7.564 1.834l-4.932 2.54c-4.423 2.279-12.028 3.858-16.993 3.527l2.97.198c-4.962-.33-10.942-4.12-13.356-8.467l-11.19-20.14c-1.07-1.929-3.733-3.492-5.939-3.492h-7c-2.21 0-4 1.794-4 4.001v19.49c0 4.975-1.14 5.138-2.542.382l-12.827-43.535c-.625-2.12-2.92-3.838-5.127-3.838h-8.008c-2.207 0-3.916 1.784-3.817 4.005l1.92 42.998c.221 4.969-.489 5.068-1.585.224l-15.13-66.825c-.488-2.155-2.681-3.902-4.878-3.902h-8.512a3.937 3.937 0 0 0-3.947 4s.953 77-.047 75.5-13.937-92.072-13.937-92.072C49.252 34.758 47.21 33 45 33H31.999"
            fill-rule="evenodd"></path>
        </svg>
      </div> -->

      <!-- <div class="mx-auto max-w-7xl sm:px-6 lg:px-0 relative border-2 border-blue-500"> -->
        <!-- Elementos de la seccion -->
        <div class="grid grid-cols-1 gap-10  md:gap-20 mt-12 sm:grid-cols-3 lg:mt-2">
          <!-- tarjeta01 -->
          <a
            href="#"
            class="transition-all duration-200 rounded-xl bg-white hover:bg-gray-200 hover:shadow-xl m-2 p-4 relative z-40 group transform hover:translate-y-4 shadow-lg border border-gray-300"
          >
            <div
              class="absolute bg-yellow-500/50 top-0 left-0 w-24 h-1 z-30 transition-all duration-20 group-hover:bg-green-700 group-hover:w-1/2"
            >
            </div>
            <div class="py-2 px-9 relative">
              <svg
                class="h-20 w-20"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 511.999 511.999"
                style="enable-background:new 0 0 511.999 511.999;"
                xml:space="preserve"
                ><rect
                  x="8.844"
                  y="38"
                  style="fill:#434A54;"
                  width="487.16"
                  height="302"></rect><polygon
                  style="fill:#CCD1D9;"
                  points="312.844,394.016 202.156,394.016 179.5,472.688 332.844,472.688 "
                ></polygon><rect
                  x="8.844"
                  y="341.34"
                  style="fill:#E6E9ED;"
                  width="494.31"
                  height="43.34"></rect><path
                  d="M501.344,32H10.656C4.781,32,0,36.781,0,42.656V384c0,5.891,4.781,10.656,10.656,10.656h177.031l-12.766,64h-4.266 c-5.875,0-10.656,4.781-10.656,10.688c0,5.875,4.781,10.656,10.656,10.656h170.688c5.875,0,10.656-4.781,10.656-10.656 c0-5.906-4.781-10.688-10.656-10.688h-4.281l-12.781-64h177.062c5.875,0,10.656-4.766,10.656-10.656V42.656 C512,36.781,507.219,32,501.344,32z M196.688,458.656l12.75-63.906l93.094-0.031l12.781,63.938L196.688,458.656L196.688,458.656z M490.656,53.344v277.312H21.344V53.344H490.656z M256,373.344H21.344V352H256h234.656v21.344H256z"
                ></path><path
                  d="M266.656,362.656c0-5.875-4.766-10.656-10.656-10.656s-10.656,4.781-10.656,10.656c0,5.906,4.766,10.688,10.656,10.688 C261.89,373.344,266.656,368.562,266.656,362.656z"
                ></path><path
                  style="fill:#FC6E51;"
                  d="M53.344,96h319.969c0,0,0.016,0,0.031,0C379.219,96,384,91.219,384,85.344 c0-5.906-4.781-10.688-10.656-10.688l0,0h-320c-5.906,0-10.688,4.781-10.688,10.688C42.656,91.219,47.438,96,53.344,96z"
                ></path><path
                  style="fill:#AC92EB;"
                  d="M53.344,138.656h170.641c0.016,0,0.016,0,0.016,0c5.891,0,10.656-4.766,10.656-10.656 s-4.766-10.656-10.656-10.656l0,0H53.344c-5.906,0-10.688,4.766-10.688,10.656S47.438,138.656,53.344,138.656z"
                ></path><path
                  style="fill:#48CFAD;"
                  d="M53.344,181.344h234.641c0.016,0,0.016,0,0.016,0c5.891,0,10.656-4.781,10.656-10.672 S293.891,160,288,160l0,0H53.344c-5.906,0-10.688,4.781-10.688,10.656C42.656,176.562,47.438,181.344,53.344,181.344z"
                ></path><path
                  style="fill:#5D9CEC;"
                  d="M53.344,224h149.312l0,0c5.906,0,10.688-4.781,10.688-10.656c0-5.906-4.781-10.672-10.688-10.672l0,0 l-149.312-0.016c-5.906,0-10.688,4.781-10.688,10.688C42.656,219.219,47.438,224,53.344,224z"
                ></path><path
                  style="fill:#FFCE54;"
                  d="M53.344,266.656h277.312v0.016c5.906,0,10.688-4.781,10.688-10.672s-4.781-10.656-10.688-10.656l0,0 H53.344c-5.906,0-10.688,4.766-10.688,10.656C42.656,261.89,47.438,266.656,53.344,266.656z"
                ></path><path
                  style="fill:#ED5564;"
                  d="M53.344,309.344L53.344,309.344h85.312l0,0c5.906,0,10.688-4.781,10.688-10.672 S144.562,288,138.656,288l0,0H53.344l0,0l0,0c-5.906,0-10.688,4.781-10.688,10.656C42.656,304.562,47.438,309.344,53.344,309.344z"
                ></path></svg
              >

              <h3
                class="mt-8 text-lg uppercase font-semibold text-black group-hover:text-black"
              >
                software
              </h3>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Planificación y gestión de proyectos.
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Diseño responsive.
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Mantenimiento
              </p>
            </div>
          </a>

          <!-- tarjeta02 -->
          <a
            href="#"
            class="transition-all duration-200 rounded-xl bg-white hover:bg-gray-200 hover:shadow-xl m-2 p-4 relative z-40 group transform hover:translate-y-4 shadow-lg border border-gray-300"
          >
            <div
              class="absolute bg-yellow-500/50 top-0 left-0 w-24 h-1 z-30 transition-all duration-20 group-hover:bg-green-700 group-hover:w-1/2"
            >
            </div>
            <div class="py-2 px-9 relative">
              <!-- logo networking -->
              <svg
                class="h-20 w-20"
                id="Layer_11"
                viewBox="0 0 60 60"
                xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 11"
                ><rect
                  fill="#00bcd4"
                  height="16"
                  rx="2"
                  width="24"
                  x="1"
                  y="35"
                  style="fill: rgb(164, 196, 0);"></rect><path
                  d="m23 35h-3a2.006 2.006 0 0 1 2 2v12a2.006 2.006 0 0 1 -2 2h3a2.006 2.006 0 0 0 2-2v-12a2.006 2.006 0 0 0 -2-2z"
                  fill="#00838f"></path><path d="m9 51h8v4h-8z" fill="#3f51b5"
                ></path><path d="m14 51h3v4h-3z" fill="#0377bc"></path><path
                  d="m22 58a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1-1 3 3 0 0 1 3-3h12a3 3 0 0 1 3 3z"
                  fill="#607d8b"></path><path
                  d="m19 55h-3a3 3 0 0 1 3 3 1 1 0 0 1 -1 1h3a1 1 0 0 0 1-1 3 3 0 0 0 -3-3z"
                  fill="#37474f"></path><rect
                  fill="#00bcd4"
                  height="16"
                  rx="2"
                  width="24"
                  x="35"
                  y="35"
                  style="fill: rgb(164, 196, 0);"></rect><path
                  d="m57 35h-3a2.006 2.006 0 0 1 2 2v12a2.006 2.006 0 0 1 -2 2h3a2.006 2.006 0 0 0 2-2v-12a2.006 2.006 0 0 0 -2-2z"
                  fill="#00838f"></path><path d="m43 51h8v4h-8z" fill="#3f51b5"
                ></path><path d="m48 51h3v4h-3z" fill="#283593"></path><path
                  d="m56 58a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1-1 3 3 0 0 1 3-3h12a3 3 0 0 1 3 3z"
                  fill="#607d8b"></path><path
                  d="m53 55h-3a3 3 0 0 1 3 3 1 1 0 0 1 -1 1h3a1 1 0 0 0 1-1 3 3 0 0 0 -3-3z"
                  fill="#37474f"></path><path
                  d="m59 3v12a2.006 2.006 0 0 1 -2 2h-4v-16h4a2.006 2.006 0 0 1 2 2z"
                  fill="#00bcd4"
                  style="fill: rgb(164, 196, 0);"></path><path
                  d="m57 1h-3a2.006 2.006 0 0 1 2 2v12a2.006 2.006 0 0 1 -2 2h3a2.006 2.006 0 0 0 2-2v-12a2.006 2.006 0 0 0 -2-2z"
                  fill="#00838f"></path><path
                  d="m7 1v16h-4a2.006 2.006 0 0 1 -2-2v-12a2.006 2.006 0 0 1 2-2z"
                  fill="#00bcd4"
                  style="fill: rgb(164, 196, 0);"></path><path
                  d="m7 1v16h46v-16zm11 10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1-1v-4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1zm10 0a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1-1v-4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1zm10 0a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1-1v-4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1zm10 0a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1-1v-4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1z"
                  fill="#3f51b5"></path><rect
                  fill="#f44335"
                  height="6"
                  rx="1"
                  width="6"
                  x="12"
                  y="6"></rect><rect
                  fill="#ff9801"
                  height="6"
                  rx="1"
                  width="6"
                  x="22"
                  y="6"></rect><rect
                  fill="#ffdf00"
                  height="6"
                  rx="1"
                  width="6"
                  x="32"
                  y="6"></rect><rect
                  fill="#a4c400"
                  height="6"
                  rx="1"
                  width="6"
                  x="42"
                  y="6"></rect><g fill="#fff"
                  ><path
                    d="m5 42a1 1 0 0 1 -.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1 -.707.293z"
                    fill="#fff"></path><path
                    d="m5 47a1 1 0 0 1 -.707-1.707l7-7a1 1 0 0 1 1.414 1.414l-7 7a1 1 0 0 1 -.707.293z"
                    fill="#fff"></path><path
                    d="m39 42a1 1 0 0 1 -.707-1.707l2-2a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1 -.707.293z"
                    fill="#fff"></path><path
                    d="m39 47a1 1 0 0 1 -.707-1.707l7-7a1 1 0 0 1 1.414 1.414l-7 7a1 1 0 0 1 -.707.293z"
                    fill="#fff"></path></g
                ><path
                  d="m57 0h-54a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3h21v2a2 2 0 0 1 -2 2h-4a4 4 0 0 0 -4 4v8h-11a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3h5v2h-1a4 4 0 0 0 -4 4 2 2 0 0 0 2 2h16a2 2 0 0 0 2-2 4 4 0 0 0 -4-4h-1v-2h5a3 3 0 0 0 3-3v-12a3 3 0 0 0 -3-3h-7v-8a2 2 0 0 1 2-2h4a4 4 0 0 0 4-4v-2h8v2a4 4 0 0 0 4 4h4a2 2 0 0 1 2 2v8h-7a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3h5v2h-1a4 4 0 0 0 -4 4 2 2 0 0 0 2 2h16a2 2 0 0 0 2-2 4 4 0 0 0 -4-4h-1v-2h5a3 3 0 0 0 3-3v-12a3 3 0 0 0 -3-3h-11v-8a4 4 0 0 0 -4-4h-4a2 2 0 0 1 -2-2v-2h21a3 3 0 0 0 3-3v-12a3 3 0 0 0 -3-3zm-36 58h-16a2 2 0 0 1 2-2h12a2.005 2.005 0 0 1 2 2zm-5-4h-6v-2h6zm8-17v12a1 1 0 0 1 -1 1h-20a1 1 0 0 1 -1-1v-12a1 1 0 0 1 1-1h20a1 1 0 0 1 1 1zm31 21h-16a2 2 0 0 1 2-2h12a2.005 2.005 0 0 1 2 2zm-5-4h-6v-2h6zm8-17v12a1 1 0 0 1 -1 1h-20a1 1 0 0 1 -1-1v-12a1 1 0 0 1 1-1h20a1 1 0 0 1 1 1zm-56-22v-12a1 1 0 0 1 1-1h3v14h-3a1 1 0 0 1 -1-1zm33-5a1 1 0 0 0 -1 1h-1v-4h4v4h-1a1 1 0 0 0 -1-1zm2 3a2 2 0 0 0 2-2v-4a2 2 0 0 0 -2-2h-4a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h1v3h-8v-3h1a2 2 0 0 0 2-2v-4a2 2 0 0 0 -2-2h-4a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h1v3h-16v-14h44v14h-16v-3zm-12-3a1 1 0 0 0 -1 1h-1v-4h4v4h-1a1 1 0 0 0 -1-1zm33 5a1 1 0 0 1 -1 1h-3v-14h3a1 1 0 0 1 1 1z"
                  fill="#000000"></path><circle
                  cx="4"
                  cy="5"
                  r="1"
                  fill="#000000"></circle><circle
                  cx="4"
                  cy="13"
                  r="1"
                  fill="#000000"></circle><circle
                  cx="56"
                  cy="5"
                  r="1"
                  fill="#000000"></circle><circle
                  cx="56"
                  cy="13"
                  r="1"
                  fill="#000000"></circle><path
                  d="m17 5h-4a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0 -2-2zm-4 6v-4h4v4z"
                  fill="#000000"></path><path
                  d="m43 13h4a2 2 0 0 0 2-2v-4a2 2 0 0 0 -2-2h-4a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2zm0-6h4v4h-4z"
                  fill="#000000"></path></svg
              >

              <h3
                class="mt-8 text-lg uppercase font-semibold text-black group-hover:text-black"
              >
                Networking
              </h3>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Redes,Servicios y Comunicaciones.
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Soporte IT
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Cableado estructurado
              </p>
            </div>
          </a>

          <!-- tarjeta03 -->
          <a
            href="#"
            class="transition-all duration-200 rounded-xl bg-white hover:bg-gray-200 hover:shadow-xl m-2 p-4 relative z-40 group transform hover:translate-y-4 shadow-lg border border-gray-300"
          >
            <div
              class="absolute bg-yellow-500/50 top-0 left-0 w-24 h-1 z-30 transition-all duration-20 group-hover:bg-green-700 group-hover:w-1/2"
            >
            </div>
            <div class="py-2 px-9 relative">
              <!-- logo  Video Vigilancia -->
              <svg
                class="h-20 w-20"
                id="Layer_1"
                enable-background="new 0 0 132 132"
                viewBox="0 0 132 132"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="_x39_1"
                  ><g
                    ><path
                      d="m130.0019836 65.995842c0 35.3466797-28.6481857 64.0051498-63.9948578 64.0051498s-64.0051438-28.6584701-64.0051438-64.0051498 28.6584623-63.9951005 64.0051439-63.9951005 63.9948577 28.6484265 63.9948577 63.9951005z"
                      fill="#ffbc50"
                      style="fill: rgb(224, 56, 0);"></path></g
                  ><g
                    ><path
                      d="m129.9980164 65.9990158c0 35.3400269-28.6401367 63.9999924-63.9902344 63.9999924-35.3498535 0-64.0097656-28.6599655-64.0097656-63.9999924 0-1.8800049.079834-3.7500038.25-5.5899696.0397949-.5700073.0998535-1.1400146.1599121-1.7000122.4499512-3.9899902 1.2800293-7.8800049 2.4299314-11.6099854.1799316-.5700073.3601074-1.1400146.5500488-1.710022 8.579834-25.2399883 32.4799805-43.3900146 60.619873-43.3900146 35.3500979.0000017 63.9902347 28.6500263 63.9902347 64.0000038z"
                      fill="#ffbc50"
                      style="fill: rgb(224, 56, 0);"></path></g
                  ><g
                    ><path
                      d="m130 66c0 35.3369827-28.6420593 64-63.9902344 64-35.3498535 0-64.0097656-28.6600342-64.0097656-64 0-36.3454189 29.5808315-64 64.0097656-64 35.432724 0 63.9902344 28.7356834 63.9902344 64z"
                      fill="#ffbc50"
                      style="fill: rgb(224, 56, 0);"></path></g
                  ><g
                    ><path
                      d="m117.177948 27.5690212h-6.6999512v-7.5899658c-.5500488-.5400391-1.1201172-1.0700073-1.7001953-1.5900269v9.1799927h-14.5200195v-11.6199951h11.6401367c-.7299805-.5800171-1.4699707-1.1500244-2.2299805-1.7000122h-32.7001953c-.4697266 0-.8498535.3800049-.8498535.8500366 0 .4699707.380127.8499756.8498535.8499756h5.3701172v11.6199951h-4.3200684c-.4699707 0-.8498535.3800049-.8498535.8500366 0 .4699707.3798828.8499756.8498535.8499756h46.4001465c-.4001465-.5800171-.8200683-1.1400146-1.2399902-1.7000122zm-24.6201172 0h-14.5200195v-11.6199951h14.5200195z"
                      fill="#f49f16"
                      style="fill: rgb(255, 255, 255);"></path></g
                  ><g
                    ><path
                      d="m13.02878 47.0941048h14.5205078v11.6152344h-14.5205078zm16.2197265 0h14.5205059v11.6152344h-14.5205059zm21.5893536-1.7050782h-45.4499497c-.1899414.5700073-.3701172 1.1400146-.5500488 1.710022h6.4899907v11.6099854h-8.9199222c-.0600586.5599976-.1201172 1.1300049-.1599121 1.7000122h47.5397949c.4699707 0 .8500977-.3800049.8500977-.8500366 0-.4699707-.380127-.8499756-.8500977-.8499756h-4.3200684v-11.6099854h5.3701172c.4699707 0 .8500977-.3900146.8500977-.8600464-.0000016-.4599609-.3801286-.8499756-.8500993-.8499756z"
                      fill="#f49f16"
                      style="fill: rgb(255, 255, 255);"></path></g
                  ><g
                    ><path
                      d="m125.4199219 89.8099976c.1999512-.4899902.3999023-.9899902.5800781-1.5h-33.8601074c-.420166 0-.75.3400269-.75.75s.329834.75.75.75h5.4699707v9.539978h-5.4699707c-.420166 0-.75.3300171-.75.75 0 .4100342.329834.75.75.75h27.5400391c.329834-.4899902.6398926-.9899902.9499512-1.5h-5.3100586v-9.539978zm-11.6000977 9.539978h-14.7099609v-9.539978h14.7099609z"
                      fill="#f49f16"
                      style="fill: rgb(255, 255, 255);"></path></g
                  ><g
                    ><path
                      d="m89.6332703 122.7523117h-5.4707031v-9.5395508h5.4707031c.4140625 0 .75-.3359375.75-.75s-.3359375-.75-.75-.75h-6.2207031-16.2197266-16.2197266-6.2197266c-.4140625 0-.75.3359375-.75.75s.3359375.75.75.75h5.4697266v9.5395508h-5.4697266c-.4140625 0-.75.3359375-.75.75s.3359375.75.75.75h6.2197266 16.2197266 16.2197266 6.2207031c.4140625 0 .75-.3359375.75-.75s-.3359375-.75-.75-.75zm-37.9101563-9.5395508h14.7197266v9.5395508h-14.7197266zm16.2197266 0h14.7197266v9.5395508h-14.7197266z"
                      fill="#f49f16"
                      style="fill: rgb(255, 255, 255);"></path></g
                  ><g
                    ><g
                      ><g
                        ><path
                          d="m36.4305687 82.3382187v18.6104584c0 2.5413513-2.060173 4.6015244-4.6015224 4.6015244h-12.3729802c-2.5413513 0-4.6015224-2.060173-4.6015224-4.6015244v-18.6104584c0-2.5413513 2.0601711-4.6015244 4.6015224-4.6015244h12.3729801c2.5413495 0 4.6015225 2.0601731 4.6015225 4.6015244z"
                          fill="#24272b"></path></g
                      ><g
                        ><path
                          d="m36.3398438 101.8633423c-.4199219 2.0999756-2.2800293 3.6900024-4.5100098 3.6900024h-12.369873c-2.5500488 0-4.6101074-2.0599976-4.6101074-4.6000366v-18.6199951c0-2.2299805 1.5800781-4.0800781 3.6899414-4.5100098-.0598145.3000488-.0898438.6101074-.0898438.9200439v18.6099854c0 2.539978 2.0598145 4.5999756 4.5998535 4.5999756h12.3701172c.3100586 0 .619873-.0299683.9199219-.0899658z"
                          fill="#13181e"></path></g
                      ><g
                        ><path
                          d="m48.3307838 87.0585785v9.2171021h-21.6546211c-2.5442314 0-4.6071262-2.0628738-4.6071262-4.6071091 0-1.2749863.5157185-2.4267731 1.3494797-3.2605133.833744-.8337631 1.9855309-1.3494797 3.2576466-1.3494797z"
                          fill="#fff"></path></g
                      ><g
                        ><path
                          d="m48.3309746 87.0594864v9.2171173h-21.654623c-.1661644 0-.3294792-.008606-.4899254-.0257797-.1289349-.0143356-.2550011-.0315475-.3781986-.0573196-.0315132-.0056992-.0601749-.0114365-.0888176-.0171738-.0659103-.0143356-.1289349-.0286789-.194828-.0458527-.060173-.0143051-.1203461-.0315094-.1776352-.0487213-.4727535-.1432495-.9139767-.358139-1.3093643-.6360474-.0573063-.0372467-.1088772-.0773621-.1633148-.1203156-.0229263-.0172043-.0487022-.0372772-.0744953-.0573196-.0630417-.05159-.1260662-.1031418-.1890907-.1604309-.0744972-.0658875-.1489925-.1375198-.2206211-.2091446-.0315113-.0344162-.0658913-.0687637-.0974216-.1031799-.0573063-.0630188-.1145935-.1289139-.1718998-.194809-.0630417-.0773621-.1231995-.1547241-.1805038-.2378235-.1203308-.1632996-.229208-.3351974-.323761-.5157013-.0315132-.0544586-.0601749-.1117477-.0859509-.1690369-.03438-.0658875-.0658913-.1318207-.094553-.2005768-.2349434-.5558548-.3667278-1.1660919-.3667278-1.8078766 0-1.2750015.5157185-2.4267502 1.3494625-3.2605515.8337612-.833725 1.9855309-1.3494568 3.2576466-1.3494568h2.5614223c-1.2721157 0-2.4238853.5157318-3.2576466 1.3494568-.833744.8338013-1.3494625 1.9855499-1.3494625 3.2605515 0 .0078812.000021.0157547.0000591.0236206.0060196 1.1993637 1.0208378 2.151001 2.2202148 2.151001h16.8269176c1.2264175 0 2.2206268-.9942093 2.2206268-2.2206268v-4.564003h2.4324913z"
                          fill="#e5f5f9"
                          style="fill: rgb(145, 147, 151);"></path></g
                      ><g
                        ><path
                          d="m61.3986168 70.5268021v27.7258224c0 1.8988342-1.5393105 3.4381485-3.4381485 3.4381485h-6.1915321c-1.898838 0-3.4381523-1.5393143-3.4381523-3.4381485v-27.7258224z"
                          fill="#fff"></path></g
                      ><g
                        ><path
                          d="m61.3986168 70.5268021v27.7258224c0 1.8988342-1.5393105 3.4381485-3.4381485 3.4381485h-6.1915321c-1.898838 0-3.4381523-1.5393143-3.4381523-3.4381485v-27.7258224z"
                          fill="#fff"></path></g
                      ><g
                        ><path
                          d="m61.4014969 70.5293121v27.7199707c0 1.8999634-1.5397949 3.4400024-3.4399414 3.4400024h-6.1899414c-1.9001465 0-3.4401855-1.5400391-3.4401855-3.4400024v-27.7199707z"
                          fill="#fff"></path></g
                      ><g
                        ><path
                          d="m61.4014969 70.5293121v11.7900391l-13.0700684-5.4101563v-6.3798828z"
                          fill="#e5f5f9"
                          style="fill: rgb(145, 147, 151);"></path></g
                      ><g
                        ><path
                          d="m61.2916336 99.0692902c-.3601074 1.5099487-1.7102051 2.6199951-3.3300781 2.6199951h-6.1899414c-1.9001465 0-3.4401855-1.5400391-3.4401855-3.4400024v-27.7199708h2.5102539v25.2099609c0 1.8999634 1.5397949 3.4400024 3.4399414 3.4400024h6.1899414c.2800292.0000001.5600585-.0300292.8200683-.1099852z"
                          fill="#e5f5f9"
                          style="fill: rgb(145, 147, 151);"></path></g
                      ><g
                        ><g
                          ><path
                            d="m94.6680374 57.9991913c6.6017075-10.319912 16.1052399-15.8966408 23.3754807-12.8852081 5.3216705 2.2043076 8.2357101 8.5084801 8.3843307 16.4221458.0859299 4.5757408-4.590332 7.7170296-8.818512 5.9656639z"
                            fill="#d3e6ed"
                            style="fill: rgb(36, 39, 43);"></path></g
                        ><g
                          ><path
                            d="m108.6558533 69.9685822c-5.6114731 13.5472793-16.6901703 21.8271408-24.7419358 18.4919891-8.0540466-3.3360901-10.0308609-17.0237198-4.4193878-30.5710068 5.6124039-13.5495415 16.6888428-21.830349 24.7428818-18.4942551 8.0517654 3.3351479 10.030838 17.0237313 4.4184418 30.5732728z"
                            fill="#fff"></path></g
                        ><g
                          ><path
                            d="m86.2244034 82.8826065c-4.6508942-1.9264603-6.6087875-11.8569717-1.9821625-23.0266304 4.6271286-11.1708755 13.0338364-16.8091812 17.6847305-14.8827209 4.6508865 1.9264603 6.6084442 11.8577881 1.9813156 23.0286598-4.626625 11.1696625-13.0329971 16.8071518-17.6838836 14.8806915z"
                            fill="#24272b"></path></g
                        ><g
                          ><path
                            d="m86.8314285 59.859272c-4.6298828 11.1700401-2.6699219 21.0999718 1.9802246 23.0200157.2399902.0999756.5.1800537.7600098.2299805-1.2402344.25-2.380127.1700439-3.3500977-.2299805-4.6499023-1.9200439-6.6098633-11.8499756-1.9799805-23.0200157 4.3898926-10.5899658 12.1699219-16.210083 16.9299316-15.1199951-4.659912.9099121-10.6899413 6.2800293-14.3400878 15.1199951z"
                            fill="#13181e"></path></g
                        ><g
                          ><path
                            d="m88.7565002 76.769577c-.5435638-.2251511-1.4661255-1.5129166-1.779953-4.1377563-.3831711-3.2057114.2744675-7.0683517 1.8518143-10.8764114 1.5775909-3.808651 3.8440475-7.0053902 6.3819656-9.001442 2.0780869-1.6344795 3.6410599-1.8927956 4.1845398-1.6676788s1.466011 1.5129623 1.7796936 4.1381454c.3831558 3.2059975-.2746582 7.0690613-1.8522491 10.8777084-1.5773544 3.8080597-3.8436356 7.0043793-6.3813553 9.0002136-2.0779571 1.6341401-3.640892 1.8923722-4.1844559 1.6672211z"
                            fill="#43a1ff"></path></g
                        ><g
                          ><path
                            d="m99.861702 51.4592476c-.6000977.2700195-1.3000488.6899414-2.0700684 1.2900391-2.5300293 2-4.8000488 5.1999512-6.380127 9.0100098-1.5800781 3.800045-2.2299805 7.6699181-1.8498535 10.8699913.2299805 1.9599609.8098145 3.1800537 1.3098145 3.7598877-1.0200195.4801025-1.7700195.5300293-2.119873.380127-.5400391-.2199707-1.4599609-1.5100098-1.7800293-4.1400146-.3798828-3.2000732.2800293-7.0699463 1.8598633-10.8699913 1.5700684-3.8100586 3.8400879-7.0100098 6.380127-9.0100098 2.0800781-1.6300049 3.6398926-1.8900146 4.1799316-1.6600342.1401366.0599364.3000487.1800536.4702148.369995z"
                            fill="#2c8cff"></path></g
                        ><g
                          ><path
                            d="m104.2415848 39.399189c-7.7399902-3.2099609-18.2700195 4.3100586-24.0600586 16.9300537-.2399902.5100098-.4699707 1.0300293-.6899414 1.5599365-5.6101074 13.550045-3.6298828 27.2401085 4.4199219 30.5700645l-8.4799805-3.5100098-50.4399414-20.8898925c-8.0500488-3.3400841-10.0300293-17.0300255-4.4199219-30.5800743.2199707-.5300293.4499512-1.0500488.6799316-1.5600605 5.7900391-12.619873 16.3200684-20.1398926 24.0600586-16.9299316l50.4399414 20.8900166z"
                            fill="#fff"></path></g
                        ><g
                          ><path
                            d="m34.0002022 43.409874c0 2.1741829-1.7673569 3.9415398-3.9415398 3.9415398s-3.9411964-1.7673569-3.9411964-3.9415398c0-2.1741791 1.7670135-3.9415359 3.9411964-3.9415359s3.9415398 1.7673568 3.9415398 3.9415359z"
                            fill="#fc545d"></path></g
                        ><g
                          ><path
                            d="m95.7515945 35.8792915-50.4399414-20.8900165c-.9699707-.4000244-1.9802246-.6400146-3.0300293-.7099609-.0200195 0-.0500488-.0100098-.0800781 0-.2299805-.0200195-.4599609-.0300293-.6899414-.0300293-6.0800781 0-12.9899902 5.1300049-17.9199219 13.2600098-.2102051.3399658-.420166.6999512-.6201172 1.0500488-.6098633 1.0699463-1.1899414 2.1999512-1.7199707 3.3598633-.2299805.5100117-.4599609 1.0300312-.6799316 1.5600605-5.6101074 13.5500488-3.630127 27.2399902 4.4199219 30.5800743l1.4299316.5898438 49.0100098 20.3000487 8.130127 3.3601074c-2.2897186-1.1448593-3.9402924-2.9003372-5.0100098-4.9700928h-.0100098c-3.1901855-5.9899902-3.0600586-15.7600098.9499512-25.4500694.2199707-.5299072.4499512-1.0499268.6899414-1.5599365 5.7900391-12.6199951 16.3200684-20.1400146 24.0600586-16.9300537zm-19.4899902 20.670044c-2.9499512 7.1298828-4.0700684 14.5699425-3.1499023 20.9599571.0423279.2942276.0886841.5853271.1391602.8731079.2264023 1.290657-1.0788498 2.3135223-2.2895508 1.8122787l-44.6496583-18.4854316c-1.3300781-.5500488-2.4899902-1.3800049-3.4802246-2.4499512-2.5839291-6.5518494-2.0629425-16.2607956 2.0265312-25.8516388l50.4999886 20.9254341c.8591843.3560181 1.2668152 1.3413544.9102631 2.2003212z"
                            fill="#e5f5f9"
                            style="fill: rgb(145, 147, 151);"></path></g
                        ><g
                          ><path
                            d="m118.0428391 45.1137047c-5.8127823-2.4077339-13.0554352.6748886-19.0984116 7.2837868-2.9316864 3.2062302-7.54702 4.2468605-11.5604477 2.584446l-64.2872505-26.6286527c5.992918-10.4236317 15.2419662-16.2541199 22.219574-13.3639002z"
                            fill="#fff"></path></g
                        ></g
                      ></g
                    ><g
                      ><g
                        ><path
                          d="m57.2782822 53.9596214c0 2.1741829-1.7673569 3.9415398-3.9415398 3.9415398-2.1741791 0-3.9411964-1.7673569-3.9411964-3.9415398s1.7670174-3.9415398 3.9411964-3.9415398c2.1741829.0000001 3.9415398 1.7673569 3.9415398 3.9415398z"
                          fill="#ffbc50"
                          style="fill: rgb(224, 56, 0);"></path></g
                      ><g
                        ><path
                          d="m45.8183022 48.5280685c0 2.1741829-1.7673569 3.9415398-3.9415359 3.9415398-2.1741829 0-3.9411964-1.7673569-3.9411964-3.9415398s1.7670135-3.9415398 3.9411964-3.9415398c2.174179.0000001 3.9415359 1.767357 3.9415359 3.9415398z"
                          fill="#4fe88d"></path></g
                      ></g
                    ><g
                      ><g
                        ><path
                          d="m54.3469543 57.7602844c-.3225822.0981102-.6592064.1402321-1.0098686.1402321-2.1741829 0-3.9415398-1.7673569-3.9415398-3.9413681 0-2.1741829 1.7673569-3.9415398 3.9415398-3.9415398.3506622 0 .6872864.0421219 1.0098686.1402321-1.6831131.4487724-2.9176292 1.977787-2.9176292 3.8013077 0 1.8233452 1.2345161 3.3521919 2.9176292 3.801136z"
                          fill="#ffb32c"></path></g
                      ><g
                        ><path
                          d="m42.9010811 52.331852c-.3225822.0982819-.6732445.1403999-1.0239067.1403999-2.1738396 0-3.9411964-1.7673569-3.9411964-3.9415398 0-2.1740074 1.7673569-3.9413643 3.9411964-3.9413643.3506622 0 .7013245.0419464 1.0239067.1402283-1.697155.4489479-2.931324 1.9777908-2.931324 3.801136 0 1.8235207 1.234169 3.3525353 2.931324 3.8011399z"
                          fill="#35d175"></path></g
                      ><g
                        ><path
                          d="m31.0627689 47.2123032c-.3225842.0982819-.6592064.1402283-1.0098705.1402283-2.174181 0-3.9411964-1.7673569-3.9411964-3.9413681 0-2.1741791 1.7670155-3.9415359 3.9411964-3.9415359.3506641 0 .6872864.0421181 1.0098705.1403999-1.6831169.4486046-2.9172878 1.9776192-2.9172878 3.801136 0 1.8233489 1.2341709 3.3521919 2.9172878 3.8011398z"
                          fill="#f14448"></path></g
                      ></g
                    ></g
                  ><g opacity=".3"
                    ><g
                      ><path
                        d="m90.3393555 70.3572998c-.3242188-.4125977-.2529297-1.0097656.1601563-1.3339844 2.0126953-1.5820313 3.8505859-4.2124023 5.1738281-7.40625.2021484-.4858398.7636719-.7138672 1.2412109-.5136719.4853516.2006836.7148438.7563477.5146484 1.2412109-1.4462891 3.4902344-3.4912109 6.3925781-5.7558594 8.1728516-.409729.3222581-1.0078277.2551804-1.3339843-.1601562z"
                        fill="#fff"></path></g
                    ></g
                  ><g
                    ><g opacity=".5"
                      ><g opacity=".5"
                        ><path
                          d="m21.6293697 79.8542938 10.0552311.0000153c.6186676 0 1.1192856.5006332 1.1192818 1.1193161 0 .6186829-.500618 1.1193161-1.1192837 1.1193085l-10.0552311-.0000077c-.6186676 0-1.1192837-.5006332-1.1192837-1.1193161s.500618-1.1193161 1.1192856-1.1193161z"
                          fill="#fff"></path></g
                      ></g
                    ></g
                  ></g
                ></svg
              >

              <h3
                class="mt-8 text-lg uppercase font-semibold text-black group-hover:text-black"
              >
                Video Vigilancia
              </h3>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Diseño e implementacion de sistemas de video vigilancia
                analogicas/IP.
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Acceso remoto por medio de Smartphone, tablet o PC
              </p>
            </div>
          </a>

          <!-- tarjeta04 -->
          <a
            href="#"
            class="transition-all duration-200 rounded-xl bg-white hover:bg-gray-200 hover:shadow-xl m-2 p-4 relative z-40 group transform hover:translate-y-4 shadow-lg border border-gray-300"
          >
            <div
              class="absolute bg-yellow-500/50 top-0 left-0 w-24 h-1 z-30 transition-all duration-20 group-hover:bg-green-700 group-hover:w-1/2"
            >
            </div>
            <div class="py-2 px-4 relative">
              <!-- tarjeta 04-->
              <svg
                class="h-20 w-20"
                viewBox="0 0 60 60"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="Page-1" fill="none" fill-rule="evenodd"
                  ><g id="071---House-Security" transform="translate(-1 -1)"
                    ><g id="Icons" transform="translate(1 2)"
                      ><path
                        id="Path"
                        d="m44 16.73v8.8c-.454028-.3804838-.884803-.7878834-1.29-1.22-.1839516-.1963098-.4409726-.3076963-.71-.3076963s-.5260484.1113865-.71.3076963c-2.91 3.12-6.95 4.68-10.29 5.48v-.79c-.0032948-1.1032019-.8967981-1.9967052-2-2h-10c-1.1032019.0032948-1.9967052.8967981-2 2v20h-11c-1.10320187-.0032948-1.9967052-.8967981-2-2v-30.27c.02-.01.03-.02.05-.03l19.95-12.35 19.95 12.35c.02.01.03.02.05.03z"
                        fill="#f5f5f5"></path><path
                        id="Path"
                        d="m43.95 16.7-19.95-12.35-1.5.929 18.45 11.421c.02.01.03.02.05.03v7.859c.095-.1.2-.18.29-.279.1839516-.1963098.4409726-.3076963.71-.3076963s.5260484.1113865.71.3076963c.405197.4321166.835972.8395162 1.29 1.22v-8.8c-.02-.01-.03-.02-.05-.03z"
                        fill="#cfd8dc"></path><path
                        id="Path"
                        d="m46.7 16.05c-.2762314.4534188-.7225151.7773535-1.2392133.8994822s-1.0607848.0322815-1.5107867-.2494822l-19.95-12.35-19.95 12.35c-.60819479.4130679-1.39398591.459146-2.04629032.1199928-.65230441-.3391533-1.06594138-1.0088513-1.07715817-1.7439704-.01121679-.7351192.38179526-1.4171253 1.02344849-1.7760224l21-13c.642891-.39988152 1.457109-.39988152 2.1 0l21 13c.9379759.5805536 1.2287939 1.8109372.65 2.75z"
                        fill="#f44335"></path><path
                        id="Path"
                        d="m46.05 13.3-21-13c-.6428233-.40011856-1.4571767-.40011856-2.1 0l-.45.279 20.55 12.721c.9379759.5805536 1.2287939 1.8109372.65 2.75-.0761983.1193258-.1639546.2308633-.262.333l.512.317c.6081948.4130679 1.3939859.459146 2.0462903.1199928.6523044-.3391533 1.0659414-1.0088513 1.0771582-1.7439704.0112168-.7351192-.3817953-1.4171253-1.0234485-1.7760224z"
                        fill="#c81e1e"></path><circle
                        id="Oval"
                        cx="24"
                        cy="17"
                        fill="#02a9f4"
                        r="5"></circle><path
                        id="Path"
                        d="m24 12c-.5100781.007121-1.0160138.0927928-1.5.254 2.0807519.6438254 3.4994946 2.5679184 3.4994946 4.746s-1.4187427 4.1021746-3.4994946 4.746c1.8757024.5955702 3.9262648.0330725 5.2355561-1.4361857 1.3092914-1.4692582 1.6327423-3.5708265.8258444-5.3657859s-2.5934199-2.9480201-4.5614005-2.9440284z"
                        fill="#0377bc"></path><path
                        id="Path"
                        d="m8 9.55v-6.55c0-.55228475.44771525-1 1-1h4c.5522847 0 1 .44771525 1 1v2.84z"
                        fill="#c81e1e"></path><path
                        id="Path"
                        d="m25 31.64c.23 2.83 1.18 10.87 4.81 17.36h-12.81v-20c.0032948-1.1032019.8967981-1.9967052 2-2h10c1.1032019.0032948 1.9967052.8967981 2 2v.79c-1.6634954.3889364-3.3556463.6430935-5.06.76-.5602381.0420781-.9807231.5296618-.94 1.09z"
                        fill="#91562d"></path><path
                        id="Path"
                        d="m25.94 30.55c1.7043537-.1169065 3.3965046-.3710636 5.06-.76v-.79c-.0032948-1.1032019-.8967981-1.9967052-2-2h-3c1.1032019.0032948 1.9967052.8967981 2 2v.79c-1.6634954.3889364-3.3556463.6430935-5.06.76-.5602381.0420781-.9807231.5296618-.94 1.09.23 2.83 1.18 10.87 4.81 17.36h3c-3.63-6.49-4.58-14.53-4.81-17.36-.0407231-.5603382.3797619-1.0479219.94-1.09z"
                        fill="#6d4122"></path><path
                        id="Path"
                        d="m59 31.64c-.39 4.79-2.83 24.44-16.84 26.35-.1064322.0100024-.2135678.0100024-.32 0-5.72-.78-9.51-4.52-12.03-8.99-3.63-6.49-4.58-14.53-4.81-17.36-.0407231-.5603382.3797619-1.0479219.94-1.09 1.7043537-.1169065 3.3965046-.3710636 5.06-.76 3.34-.8 7.38-2.36 10.29-5.48.1839516-.1963098.4409726-.3076963.71-.3076963s.5260484.1113865.71.3076963c.405197.4321166.835972.8395162 1.29 1.22 4.78 4.05 11.54 4.86 14.06 5.02.5602381.0420781.9807231.5296618.94 1.09z"
                        fill="#60a917"></path><path
                        id="Path"
                        d="m58.06 30.55c-2.52-.16-9.28-.97-14.06-5.02-.454028-.3804838-.884803-.7878834-1.29-1.22-.1839516-.1963098-.4409726-.3076963-.71-.3076963s-.5260484.1113865-.71.3076963c-.254.273-.527.519-.8.768.167.153.335.306.508.452 4.78 4.05 11.54 4.86 14.06 5.02.5610385.0410339.982694.5289367.942 1.09-.377 4.632-2.673 23.154-15.49 26.1.433.1.873.187 1.33.249.1064322.0100024.2135678.0100024.32 0 14.01-1.909 16.45-21.559 16.84-26.349.0407231-.5603382-.3797619-1.0479219-.94-1.09z"
                        fill="#549414"></path><path
                        id="Path"
                        d="m42 53.967c-8.926-1.558-11.8-13.673-12.68-19.774 4.5872609-.6311388 8.945092-2.3948919 12.68-5.132 3.7350935 2.7367752 8.0928373 4.500493 12.68 5.132-.88 6.107-3.753 18.231-12.68 19.774z"
                        fill="#a4c400"></path><path
                        id="Path"
                        d="m42 29.061c-.488.382-.991.733-1.5 1.065 3.4071595 2.1104282 7.2132094 3.4949725 11.18 4.067-.832 5.747-3.426 16.829-11.175 19.394.4899835.163352.991342.2903629 1.5.38 8.922-1.543 11.795-13.667 12.675-19.774-4.5871627-.631507-8.9449065-2.3952248-12.68-5.132z"
                        fill="#90ac00"></path></g
                    ><g id="Icons_copy" fill="#000"
                      ><g fill-rule="nonzero"
                        ><path
                          id="Shape"
                          d="m7 52h23.2c2.64 4.487 6.591 8.174 12.5 8.979.1960519.0273335.3949481.0273335.591 0 14.535-1.979 17.224-21.362 17.702-27.255.0465801-.5366617-.1252923-1.069423-.476712-1.4776873-.3514197-.4082642-.8526704-.6575082-1.390288-.6913127-2.043-.132-8.5-.847-13.126-4.513v-7.042c1.3408371.0001192 2.5189453-.8895256 2.8857977-2.1792013.3668525-1.2896757-.1666392-2.6661906-1.3067977-3.3717987l-21-13c-.9663752-.60403937-2.1926248-.60403937-3.159 0l-7.42 4.594v-1.043c0-1.1045695-.8954305-2-2-2h-4c-1.1045695 0-2 .8954305-2 2v6l-5.578 3.449c-1.14145671.7025815-1.67638634 2.0785696-1.30920827 3.3676485s1.546863 2.1766804 2.88720827 2.1723515v29.011c0 1.6568542 1.34314575 3 3 3zm-1-3v-29.708l19-11.764 19 11.763v6c-.7967161-.44577-1.7922807-.3103634-2.441.332-2.3819348 2.3644607-5.3557068 4.0451081-8.61 4.866-.2481701-1.4357008-1.4920123-2.4855222-2.949-2.489h-10c-1.6568542 0-3 1.3431458-3 3v19h-10c-.55228475 0-1-.4477153-1-1zm13 1v-19c0-.5522847.4477153-1 1-1h10c.5430463-.0001564.9869669.4331101 1 .976-1.3586879.2877055-2.7356351.4811664-4.121.579-.5376176.0338045-1.0388683.2830485-1.390288.6913127-.3514197.4082643-.5232921.9410256-.476712 1.4776873.4136735 5.6240823 1.8080235 11.1324417 4.12 16.276zm40-16.438c-.319 3.927-2.587 23.612-16.023 25.438-13.39-1.826-15.658-21.511-15.977-25.449 3.165-.205 11.061-1.254 15.976-6.561 4.96 5.31 12.856 6.356 16.024 6.56zm-49-28.562h4v2.281l-4 2.477zm-6.85 12.525c-.28957766-.4692711-.14463308-1.0843909.324-1.375l21-13c.3227288-.19795821.7292712-.19795821 1.052 0l21 13c.2254579.1397482.3861558.363347.4467322.6215937.0605764.2582466.0160676.5299804-.1237322.7554063-.2982863.4584988-.9044741.6012348-1.376.324l-19.947-12.351c-.3223335-.19935391-.7296665-.19935391-1.052 0l-19.946 12.351c-.22587369.1398506-.49811258.184075-.75664002.1229139-.25852744-.061161-.4820926-.2226801-.62135998-.4489139z"
                        ></path><path
                          id="Shape"
                          d="m25 25c3.3137085 0 6-2.6862915 6-6s-2.6862915-6-6-6-6 2.6862915-6 6c.0033074 3.3123376 2.6876624 5.9966926 6 6zm0-10c2.209139 0 4 1.790861 4 4s-1.790861 4-4 4-4-1.790861-4-4 1.790861-4 4-4z"
                        ></path><path
                          id="Shape"
                          d="m30.164 35.206c-.5402741.0857043-.9114163.58962-.833 1.131 1.013 7 4.115 18.977 13.5 20.615.0567878.0099943.1143395.0150134.172.015.0569978.0000147.1138855-.0050048.17-.015 9.381-1.622 12.483-13.612 13.5-20.615.0784163-.54138-.2927259-1.0452957-.833-1.131-4.4187809-.6077952-8.6176297-2.302797-12.22-4.933-.3619094-.2830051-.8700906-.2830051-1.232 0-3.6035281 2.6308129-7.8038243 4.3258441-12.224 4.933zm24.377 1.806c-.923 5.575-3.712 16.436-11.541 17.938-7.831-1.514-10.621-12.368-11.544-17.938 4.1445962-.7058664 8.0846582-2.3096737 11.544-4.699 3.458669 2.3885243 7.3975736 3.9922773 11.541 4.699z"
                        ></path></g
                      ><path
                        id="Path"
                        d="m38.293 46.707 2 2c.1874927.1875494.4418052.2929434.707.293h.071c.2895429-.0211914.5555841-.1671673.729-.4l6-8c.3313708-.4418278.2418278-1.0686291-.2-1.4-.4418278-.3313708-1.0686291-.2418278-1.4.2l-5.308 7.078-1.185-1.185c-.3923789-.3789722-1.0160848-.3735524-1.4018186.0121814s-.3911536 1.0094397-.0121814 1.4018186z"
                      ></path></g
                    ></g
                  ></g
                ></svg
              >

              <h3
                class="mt-8 text-lg uppercase font-semibold text-black group-hover:text-black"
              >
                alarmas Domciliarias
              </h3>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Detección de intrusión
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                prevención de robos
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Hogar/negocio seguro y protegido
              </p>
            </div>
          </a>
          <!-- tarjeta05 -->
          <a
            href="#"
            class="transition-all duration-200 rounded-xl bg-white hover:bg-gray-200 hover:shadow-xl m-2 p-4 relative z-40 group transform hover:translate-y-4 shadow-lg border border-gray-300"
          >
            <div
              class="absolute bg-yellow-500/50 top-0 left-0 w-24 h-1 z-30 transition-all duration-20 group-hover:bg-green-700 group-hover:w-1/2"
            >
            </div>
            <div class="py-2 px-4 relative">
              <!-- tarjeta 05-->
              <svg
                class="h-24 w-24"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 64 64"
                ><g id="Icon"
                  ><path
                    d="M45.13538,26.7729H33.86474a5.62569,5.62569,0,0,1-5.63533-5.616V16.19275c1.20757-9.009,18.37736-3.83395,18.37736-3.83395,3.02894,0,3.95993,1.59789,4.16393,3.834V21.1569A5.62569,5.62569,0,0,1,45.13538,26.7729Z"
                    style="fill:#424242"></path><path
                    d="M57.9034,45.04611a6.13914,6.13914,0,0,0-5.19256-5.985H26.28927a6.13912,6.13912,0,0,0-5.19255,5.985l-.0966,8.93748H58Z"
                    style="fill:#e53935"></path><path
                    d="M48.66954,23.55573A9.24429,9.24429,0,0,1,39.47588,32.766c-6.652.24447-11.4276-7.51467-8.2356-13.334L38.695,18.75v1.60457s7.73648-1.17135,8.58983-1.60457A9.15881,9.15881,0,0,1,48.66954,23.55573Z"
                    style="fill:#ff8f00"></path><rect
                    x="18"
                    y="54"
                    width="43"
                    height="4"
                    rx="2"
                    style="fill:#ff8f00"></rect><path
                    d="M25.841,33H53.27311a1.89619,1.89619,0,0,1,1.72418,2.11094L54.23513,51H24.879l-.76215-15.88906A1.89618,1.89618,0,0,1,25.841,33Z"
                    style="fill:#616161"></path><rect
                    x="26"
                    y="51"
                    width="27"
                    height="3"
                    style="fill:#424242"></rect><path
                    d="M41,36.28558V39.5A1.5,1.5,0,0,1,39.5,41h0A1.5,1.5,0,0,1,38,39.5V36.28558A4.404,4.404,0,0,0,38,44.634V51h3l0-6.366a4.404,4.404,0,0,0,0-8.34841Z"
                    style="fill:#eee"></path><path
                    d="M18,21l-5-4H5a2,2,0,0,1-2-2V8A2,2,0,0,1,5,6H20a2,2,0,0,1,2,2v7a2,2,0,0,1-2,2H18Z"
                    style="fill:#e53935"></path><rect
                    x="37"
                    y="27"
                    width="4"
                    height="3"
                    rx="1.5"
                    style="fill:#e53935"></rect></g
                ><g id="Line"
                  ><path
                    d="M59,53h-.0105l-.08618-7.96484a7.079,7.079,0,0,0-3.10419-5.76844l.197-4.108A2.90309,2.90309,0,0,0,53.273,32H45.171a10.26076,10.26076,0,0,0,4.12842-5.71515,6.58021,6.58021,0,0,0,2.47107-5.12811L51.7666,16.102c-.28613-3.1416-1.92627-4.69434-5.01172-4.74219-1.3789-.39941-11.55224-3.17773-16.65088.10743a6.18252,6.18252,0,0,0-2.87451,4.72558v4.96387A6.57554,6.57554,0,0,0,29.6322,26.2262a10.88021,10.88021,0,0,0,1.18421,2.67321A10.67845,10.67845,0,0,0,33.70886,32h-7.868a2.90349,2.90349,0,0,0-2.72314,3.15869l.19336,4.03119a7.086,7.086,0,0,0-3.21436,5.84528L20.0105,53H20a3,3,0,0,0,0,6H59a3,3,0,0,0,0-6ZM30.36328,18.95117A9.24524,9.24524,0,0,0,29.3374,22.074a4.35925,4.35925,0,0,1-.10791-.9173V16.26221A4.21738,4.21738,0,0,1,31.186,13.14893c4.584-2.95459,15.02783.13574,15.13281.16748a.99167.99167,0,0,0,.28808.04248c2.416,0,3.00342,1.11914,3.16358,2.834v4.96387a4.53592,4.53592,0,0,1-.18445,1.2644,10.13941,10.13941,0,0,0-1.45276-4.2,1.04961,1.04961,0,0,0-1.28711-.36963c-.5166.22217-3.855.82032-7.15137,1.33692V18.75a1.00381,1.00381,0,0,0-1.0913-.99561l-7.45459.68213A1.00048,1.00048,0,0,0,30.36328,18.95117Zm1.52,1.42627,5.81152-.53174v.50879a1.00611,1.00611,0,0,0,1.14991.98877c1.93457-.293,6.02392-.93506,7.95849-1.41015a8.1701,8.1701,0,0,1,.86621,3.627v.01172a7.48586,7.48586,0,0,1-.14953,1.59771A5.22249,5.22249,0,0,1,42.90088,28H41.9494A2.504,2.504,0,0,0,39.5,26h-1a2.5,2.5,0,0,0,0,5h1a2.48947,2.48947,0,0,0,1.98724-1h1.41364a7.16552,7.16552,0,0,0,1.93188-.26727,8.16764,8.16764,0,0,1-5.39331,2.03387,7.825,7.825,0,0,1-6.9209-3.91748A7.88288,7.88288,0,0,1,31.8833,20.37744ZM39.5,29h-1a.5.5,0,0,1,0-1h1a.5.5,0,0,1,0,1ZM38.3291,43.68945A3.44152,3.44152,0,0,1,36,40.46a3.39411,3.39411,0,0,1,1-2.396V39.5a2.5,2.5,0,0,0,5,0V38.064a3.39411,3.39411,0,0,1,1,2.396,3.44152,3.44152,0,0,1-2.3291,3.22949A1.00014,1.00014,0,0,0,40,44.63379V50H39V44.63379A1.00014,1.00014,0,0,0,38.3291,43.68945ZM52,52v.9834H27V52Zm4.90332-6.94336.08594,7.92676H54V52a1.04854,1.04854,0,0,0,1.23438-.95215l.44256-9.23114A5.03948,5.03948,0,0,1,56.90332,45.05664ZM25.40625,34.20654A.61038.61038,0,0,1,25.84082,34H53.273c.53182.05358.73061.57139.7251,1.063L53.28223,50H42V45.29346a5.39934,5.39934,0,0,0-.6709-9.95215A.99984.99984,0,0,0,40,36.28564V39.5a.5.5,0,0,1-1,0V36.28564a.99984.99984,0,0,0-1.3291-.94433A5.39934,5.39934,0,0,0,37,45.29346V50H25.832l-.71631-14.937A1.17512,1.17512,0,0,1,25.40625,34.20654Zm-3.30957,10.8501a5.0308,5.0308,0,0,1,1.335-3.353l.44824,9.34424A1.01556,1.01556,0,0,0,25,52v.9834H22.01074ZM59,57H20a1,1,0,0,1,0-2H59a1,1,0,0,1,0,2ZM18,22a1.00553,1.00553,0,0,0,1-1V18h1a3.00328,3.00328,0,0,0,3-3V8a3.00328,3.00328,0,0,0-3-3H5A3.00328,3.00328,0,0,0,2,8v7a3.00328,3.00328,0,0,0,3,3h7.64941l4.72608,3.78076A.99977.99977,0,0,0,18,22Zm-1-5v1.91943l-3.37549-2.70019A.99807.99807,0,0,0,13,16H5a1.0013,1.0013,0,0,1-1-1V8A1.0013,1.0013,0,0,1,5,7H20a1.0013,1.0013,0,0,1,1,1v7a1.0013,1.0013,0,0,1-1,1H18A1,1,0,0,0,17,17ZM6,10A1,1,0,0,1,7,9H18a1,1,0,0,1,0,2H7A1,1,0,0,1,6,10Zm12,4H7a1,1,0,0,1,0-2H18a1,1,0,0,1,0,2Z"
                  ></path></g
                ></svg
              >

              <h3
                class="mt-8 text-lg uppercase font-semibold text-black group-hover:text-black"
              >
                Soporte It
              </h3>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Soporte técnico presencial y remoto
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Mantenimiento de sistemas y protección de datos
              </p>
              <p
                class="mt-4 text-base capitalize text-gray-600 group-hover:text-gray-900"
              >
                Soluciones en la nube
              </p>
            </div>
          </a>
        </div>
      <!-- </div> -->
    </div>
<!-- </div> -->
 <!-- fin Contenedor servicios -->

</section>
<!-- fin seccion servicios -->

</div>
<!-- fin contenedor que abarca el TITULO y los servicios -->


