---

import Carruselmovile from "./Carruselmovile.astro";
import Carruselpc from "./Carruselpc.astro";
import Line from "./Line.astro";
import MyReactComponent from './MyReactComponent.jsx';




const testimonios = [
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },{
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  
  // Agrega más testimonios aquí
 
];
---



<div id="testimonios" class="max-w-[85rem] py-10 lg:py-14 mx-auto px-10 bg-neutral-100 dark:bg-neutral-950">

    <h1 class="text-center lg:text-left text-2xl font-semibold text-neutral-900 capitalize lg:text-4xl dark:text-white">Testimonios <br> Clientes Destacados</h1>
    <!-- Linea Titulo -->
    <Line />
</div>   

<!--hacer un carusell  -->
<!-- <h1>integrando astro con react</h1>
<MyReactComponent></MyReactComponent> -->

<!--Carrusel de Testimonios usando Astro y CDN-->
<Carruselpc></Carruselpc>
<Carruselmovile></Carruselmovile>
    

 



