---

import Carruselmovile from "./Carruselmovile.astro";
import Carruselpc from "./Carruselpc.astro";
import Line from "./Line.astro";
import MyReactComponent from './MyReactComponent.jsx';




const testimonios = [
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  {
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },{
    imgSrc: '/src/img/Logos/venezia.PNG',
    altText: 'logo-venezia',
    title: 'PANADERIA VENEZIA',
  },
  
  // Agrega más testimonios aquí
 
];
---
<style>
 



  swiper-container {
    width: 240px;
    height: 320px;
  }

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }
</style>


<div id="testimonios" class="max-w-[85rem] py-10 lg:py-14 mx-auto px-10 bg-neutral-100 dark:bg-neutral-950">

    <h1 class="text-center lg:text-left text-2xl font-semibold text-neutral-900 capitalize lg:text-4xl dark:text-white">Testimonios <br> Clientes Destacados</h1>
    <!-- Linea Titulo -->
    <Line />
</div>   

<!--hacer un carusell  -->
<!-- <h1>integrando astro con react</h1>
<MyReactComponent></MyReactComponent> -->

<!--Carrusel de Testimonios usando Astro y CDN-->
<Carruselpc></Carruselpc>
<Carruselmovile></Carruselmovile>
    

 



