---
import Layout from "../Layouts/Layout.astro";
import Nav from "../components/landing/Nav.astro"
import Hero from "../components/landing/Hero.astro"
import Service from "../components/landing/Service.astro"
import Footer from "../components/landing/Footer.astro"
---
<!-- <Header></Header> -->

<Layout>
    <Nav></Nav>
    <Hero></Hero>
	<Service></Service>
	<h1 class="">Home Page</h1>
    <!-- Importa Preline -->
    <script type="module" src="/node_modules/preline/dist/preline.js"></script>
</Layout>
<Footer></Footer>