---
import Layout from "../Layouts/Layout.astro";
import Hero from "../components/landing/Hero.astro"
import Service from "../components/landing/Service.astro"
import Form from "../components/landing/Form.astro"
// import Footer from "../components/landing/Footer.astro"
import Testimonial from "../components/landing/Testimonial.astro"

---
<!-- <Header></Header> -->

<Layout pageTitle="Home-Page" pageDescription="Pagina para ofrecer servicios de desarollos web, servicios IT e instalacion de camaras de seguridad">
    <!-- <Nav></Nav> -->
    <Hero></Hero>
	<Service></Service>
    <Testimonial></Testimonial>
    <!-- Importa Preline -->
   
    <slot />
</Layout>
<!-- <Footer></Footer> -->