---
interface Props {
    pageTitle?:string
    pageDescription?:string
}
const {pageTitle='#',pageDescription='Pagina sin descripcion'}=Astro.props;

import '../styles/layout.css'
import Nav from '../components/landing/Nav.astro';
import Form from '../components/landing/Form.astro';



---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descripcion" content={pageDescription}>
    <title>Equinoccio|{pageTitle}</title>
    <link rel="icon" href="../../public/favicon.ico" type="image/png">
</head>
<body class="cssbody">
    <Nav></Nav>
    <main class="mx-auto">
        <!-- Colocamos la stiqueta slot, la cual permite agregar el contenido de cualquier otra pagina que importamos -->
        <slot/>
    </main>
    <Form></Form>
    <script type="module" src="/node_modules/preline/dist/preline.js"></script>
    
    
</body>

  
</html>