---
import '../styles/layout.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equinoccio Landing</title>
</head>
<body>
    <main class="mx-auto">
        <!-- Colocamos la stiqueta slot, la cual permite agregar el contenido de cualquier otra pagina que importamos -->
        <slot/>

    </main>
    
</body>
</html>